body
{
margin:0;
padding:0;
}

#filtros, #botonera
{
  width:100%;
  position:fixed;
  z-index: 100;
}

#filtros
{
  top:0;
  border-bottom:1px solid #cdcdcd;
  background-color: white;
}

#botonera
{
  bottom:0;
}

#filtros form, #botonera, #divBtnScroll, #divBtnReset
{
  display: flex;
  align-items: center;
  justify-content: center;
}

#filtros div
{
  padding:20px;
}

.start
{
  background-color: rgb(136, 221, 8);
}

.stop
{
  background-color: rgb(173, 8, 8);
  color: white;
  font-weight: bold;
}

#partitura
{
  top:20px;
  padding:80px 10px 0 15px;
  width:100%;
  /* height:1000px;
  background:  url("./../../assets/img/wish\ you\ where\ here.jpg") no-repeatc;
  background-size: 100% 100%;*/
}

#btnScroll, #btnMenos, #btnMas, #btnReset
{
  margin-top:5px;
  margin-left:5px;
  margin-right:5px;
}

#btnReset
{
}

#botonera div
{
  width:100%;
  padding:10px;
  background-color: white;
  border-top: 1px solid #cdcdcd;;
}
